<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app" style="display: flex; flex-direction: column;">
       1. 在循环对象过程 中，如果循环只是获取一个值得时候  获取的是value
       <span v-for="value in user" :key="index">{{value}}</span>
       <br>
       2.获取key和value的格式  （value,key） 第一个参数是value  第二个参数 是key
       <span  v-for="(value, key) in user" :key="index" :key="index">{{key}}{{value}}</span>

       3.获取key vlaue  index 的格式是  (value,key,index)
       <span  v-for="(value,key,index) in user" :key="index" :key="index">{{value}}
        {{key}}
        {{index}}</span>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        const app=new Vue({
            el:'#app',
            data:
            {
                user:
                {
                    name:'tom',
                    age:2,
                    height:'20cm '
                }
            }
        })         
    </script>
</body>
</html>